{% extends 'app/dashboard.html' %}
{% load static %}
{% block dashboard %}
	{% if assignment %}
		{% if professor %}
		<div class="container">
			<a class="btn waves-effect waves-light" href="{% url 'app:edit-assignment' assignment.id %}">Edit Assignment</a>
			<a class="btn waves-effect waves-light" href="{% url 'app:create-question' assignment.id %}">Add a question</a>
		</div>
		{% endif %}
		<div class="container">
			<div class="card darken-1 z-depth-2">
				<div class="card-content">
					<h4>{{ assignment.title }}</h4>
					<p>Created on: {{ assignment.created_date }}</p>
					<p>Class: {{ assignment.classroom }}</p>
					<p>Deadline: {{ assignment.deadline }}</p>
					<p>Language: {{ assignment.language }}</p>
				</div>
			</div><br>
		</div>
		{% if questions %}
			<table class="responsive-table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Marks</th>
						<th>Date</th>
						{% if professor %}
						<th>Draft</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for question in questions %}
						<tr>
							<td><a href="{% url 'app:view-question' assignment.id question.id %}">{{ question.title }}</a></td>
							<td>{{ question.marks }}</td>
							<td>{{ question.created_date }}</td>
							{% if professor %}
							<td>{{ question.draft}}</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>No questions yet!</p>
			{% endif %}
			{% elif assignments %}
			<div class="container">
				<h3>Your Assignments</h3>
				{% for assignment in assignments %}
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">{{ assignment.title }}</span>
							<p>{{ assignment.created_date }}</p>
							<p>Class: {{ assignment.classroom }}</p>
						</div>
						<div class="card-action">
							<a href="{% url 'app:view-assignment' assignment.id %}">View Assignment</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endblock dashboard %}