{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, shrink-to-fit=yes">
    <!-- redirect http resources to https, hopefully! -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/codemirror.css' %}">
    <!-- Scripts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <script defer src="https://use.fontawesome.com/releases/v4.7.0/js/all.js"></script>
    {% block link %}
    {% endblock link %}
    {% if title %}
      <title>{{ title }} - CodeClassroom</title>
    {% else %}
      <title>{% block title %}{% endblock %}</title>
    {% endif %}
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a data-position="bottom" data-tooltip="defe" href="{% url 'app:index' %}" class="brand-logo tooltipped">
            CodeClassroom
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'app:about' %}">About</a></li>
            <li><a href="{% url 'app:faq' %}">FAQ</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="#{# {% url 'app:dashboard' %} #}">Dashboard</a></li>
              <li><a href="{% url 'app:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'app:login' %}">
              Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    {% block content %}
      {% block messages %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock messages %}
    {% endblock content %}
    {% block js %}
    {% endblock js %}

    <!-- IDE Themes -->
    <link rel="stylesheet" href="{% static 'app/css/theme/abcdef.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/theme/base16-light.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/theme/blackboard.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/theme/cobalt.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/theme/colorforth.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/theme/monokai.css' %}">

    <script defer type="text/javascript" src="{% static 'app/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/materialize.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
    <script src="{% static 'app/js/codemirror.js'%}"></script>

    <!--CodeMirror Modes -->
    <script src="{% static 'app/js/mode/clike/clike.js'%}"></script>
    <script src="{% static 'app/js/mode/python/python.js'%}"></script>
    <script src="{% static 'app/js/mode/shell/shell.js'%}"></script>
    <script>
    function getMode () {
        const lang = document.getElementById("language").innerHTML;
        var c_like_langs = ["C", "C++", "Java"]
        if (lang == "Python3"){
          mode = "python"
        }
        else if (c_like_langs.includes(lang)){
          mode = "clike"
        }
        else if (lang == "Bash"){
          mode = "shell"
        }
        return mode
    }
    var code_editor = document.getElementById("editor");
    if (code_editor !== null){
      console.log("here");
      var editor = CodeMirror.fromTextArea(code_editor, {
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true,
        mode: getMode()
      });
    }
    function selectTheme(){
      var input = document.getElementById("theme-select");
      var theme = input.options[input.selectedIndex].textContent;
      editor.setOption("theme", theme);
      location.hash = "#" + theme;
    }
    </script>
  </body>
</html>