{% extends 'app/cc-base-dashboard.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/assignments.css' %}">
{% endblock link %}
{% block content %}
<h2>Assignments</h2>
<section id="assignments">
  <section id="header">
    <strong>Name</strong>
    <strong>Classroom</strong>
    <strong>Language</strong>
  </section>
  <section id="body">
    <!-- TODO: add triple dot SVG -->
    {% for assignment in assignments %}
    <a href="{% url 'app:assignment' assignment.pk %}">
      <div class="assignment">
        <p>{{ assignment.title }}</p>
        <p>{{ assignment.classroom.title }}</p>
        <p>{{ assignment.language }}</p>
      </div>
    </a>
    {% if professor %}
    <strong>:</strong>
    <div class="actions">
      <a href="#">Edit</a>
      <a href="#">Delete</a>
    </div>
    {% endif %}
    {% empty %}
    <p>No assignments yet!</p>
    {% endfor %}
  </section>
</section>
{% endblock content %}
{% block form %}
<form method="POST" action="{% url 'app:assignments' %}">
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="submit" value="Create New Assignment">
</form>
{% endblock form %}
{% block svg %}
{{ block.super }}
{% endblock svg %}
{% block js %}
{{ block.super }}
{% if professor %}
<script type="text/javascript">
  const optionButtons = document.querySelectorAll('#body > strong');
  for (optionButton of optionButtons) {
    const actions = optionButton.nextElementSibling;
    optionButton.addEventListener('click', (e) => {
      e.stopPropagation();
      if (!actions.style.display) {
        actions.style.display = 'flex';

      } else {
        actions.style.display = '';
      }
    });
  }
</script>
{% endif %}
{% endblock js %}
