{% extends 'app/cc-base-dashboard.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/assignments.css' %}">
{% endblock link %}
{% block content %}
<h2>Assignments</h2>
<section id="assignments">
  <section id="header">
    <strong>Classroom</strong>
    <strong>Name</strong>
    <strong>Language</strong>
  </section>
  <section id="body">
    {% for assignment in assignments %}
    <div class="assignment">
      <p>{{ assignment.classroom.title }}</p>
      <p>{{ assignment.title }}</p>
      <p>{{ assignment.language }}</p>
    </div>
    <strong>:</strong>
    {% empty %}
    <p>No assignments yet!</p>
    {% endfor %}
  </section>
</section>
{% endblock content %}
{% block form %}
{% endblock form %}
{% block js %}
{{ block.super }}
{% endblock js %}
