{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/base-dashboard.css' %}">
  {% if student %}
  <link rel="stylesheet" href="{% static 'app/css/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/theme/monokai.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/theme/abcdef.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/theme/base16-light.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/theme/blackboard.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/theme/cobalt.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/theme/colorforth.css' %}">
  {% endif %}
  {% block link %}
  {% endblock link %}
  <title>CodeClassroom - {{ title }}</title>
</head>
<body>
  <header>
    <h1>
      <a href="{% url 'app:index' %}">Code Classroom</a>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">Notifications</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
      </ul>
    </nav>
  </header>
  <aside>
    <figure>
      <img src="https://via.placeholder.com/125" width="125" height="125">
      <figcaption>{{ request.user.username }}</figcaption>
    </figure>
    <nav>
      <ul>
        <li>
          <a href="{% url 'app:classrooms' %}"{% if active_link == 'classrooms' %} style="font-weight: bold;"{% endif %}>Classrooms</a>
        </li>
        <li>
          <a href="{% url 'app:assignments' %}"{% if active_link == 'assignments' %} style="font-weight: bold;"{% endif %}>Assignments</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
      </ul>
    </nav>
  </aside>
  <main>
    {% block content %}
    {# flash messages to be handled by child templates inside content block #}
    {% block messages %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endblock messages %}
    {% endblock content %}
  </main>
  {% if professor %}
  <div id="add">
    <svg>
      <use href="#plus-sign"/>
    </svg>
  </div>
  {% block form %}
  {% endblock form %}
  {% endif %}
  {% block svg %}
  <svg style="display: none;">
    <defs>
      <path id="plus-sign" d="M 8.7568897,17.38827 H 17.261354 V 8.782562 0.17685486 h 2.733578 2.733576 V 8.782562 17.38827 h 8.504463 8.504462 v 2.632336 2.632335 h -8.504462 -8.504463 v 8.504466 8.504465 H 19.994932 17.261354 V 31.157407 22.652941 H 8.7568897 0.25242584 V 20.020606 17.38827 Z M 0.1511788,17.287028 H 39.838679 v 5.467157 H 0.15117853 Z M 22.829753,0.07561026 V 39.76311 H 17.160112 V 0.07561026 Z"></path>
    </defs>
  </svg>
  {% endblock svg %}
  {% block js %}
  {% if form %}
  <script type="text/javascript">
    // show form on clicking add button
    document.querySelector('#add').addEventListener('click', (e) => document.querySelector('form').classList.toggle('show'));
  </script>
  {% endif %}
  {% if student %}
  <script defer type="text/javascript" src="{% static 'app/script.js' %}"></script>
  <script src="{% static 'app/js/codemirror.js'%}"></script>
  <!--CodeMirror Modes -->
  <script src="{% static 'app/js/mode/clike/clike.js'%}"></script>
  <script src="{% static 'app/js/mode/python/python.js'%}"></script>
  <script src="{% static 'app/js/mode/shell/shell.js'%}"></script>
  <script>
    function getMode () {
        // Used for changing the Syntax coloring according to language      
        const lang = document.getElementById("language").innerText;
        var c_like_langs = ["C", "C++", "Java"]
        if (lang == "Python3"){
          mode = "python"
        }
        else if (c_like_langs.includes(lang)){
          mode = "clike"
        }
        else if (lang == "Bash"){
          mode = "shell"
        }
        return mode
    }
    var code_editor = document.getElementById("editor");
    if (code_editor !== null){
      console.log("here");
      var editor = CodeMirror.fromTextArea(code_editor, {
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true,
        mode: getMode()
      });
    }
    function selectTheme(){
      var input = document.getElementById("theme-select");
      var theme = input.options[input.selectedIndex].textContent;
      editor.setOption("theme", theme);
      location.hash = "#" + theme;
    }
  </script>
  {% endif %}
  {% endblock js %}
</body>
</html>
