{% extends 'app/cc-base-dashboard.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/classroom.css' %}">
{% endblock link %}
{% block content %}
<section id="classroom">
  <h2>{{ classroom.title }}</h2>
  <p>Professor: {{ classroom.professor }}</p>
  <em>Join Code: {{ classroom.join_code }}</em>
</section>
<section id="assignments">
  <h3>Assignments</h3>
  <ul>
    {% for assignment in assignments %}
    <li>
      <div class="assignment">
        <h3>{{ assignment.title }}</h3>
        <p>Deadline: {{ assignment.deadline }}</p>
        <p>Language of focus: {{ assignment.language }}</p>
      </div>
    </li>
    {% empty %}
    <h3>No assignments yet!</h3>
    {% endfor %}
  </ul>
</section>
<section id="students">
  <h3>Students</h3>
  <ol>
    {% for student in students %}
    <li>
      {{ student.user.username }}
    </li>
    {% empty %}
    <h3>No students yet!</h3>
    {% endfor %}
  </ol>
</section>
{% endblock content %}
