{% extends 'app/cc-base-dashboard.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/classroom.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock link %}
{% block content %}
<section id="classroom">
  <h2>{{ classroom.title }}</h2>
  {% if student %}
  <p>Professor: {{ classroom.professor }}</p>
  {% endif %}
  <em>Join Code: {{ classroom.join_code }}</em>
</section>
{% block messages %}
{{ block.super }}
{% endblock messages %}
<section id="assignments">
  <h3>Assignments</h3>
  <ul>
    {% for assignment in assignments %}
    <li>
      <a href="{% url 'app:assignment' assignment.pk %}">
        <div class="assignment">
          <h3>{{ assignment.title }}</h3>
          <p>Deadline: {{ assignment.deadline }}</p>
          <p>Language of focus: {{ assignment.language }}</p>
        </div>
      </a>
    </li>
    {% empty %}
    <h3>No assignments yet!</h3>
    {% endfor %}
  </ul>
</section>
<section id="students">
  <h3>Students</h3>
  <ol>
    {% for student in students %}
    <li>
      {{ student.user.username }}
    </li>
    {% empty %}
    <h3>No students yet!</h3>
    {% endfor %}
  </ol>
</section>
{% endblock content %}
{% block form %}
<form action="{% url 'app:classroom' classroom.pk %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Add Assignment">
</form>
{% endblock form %}
{% block js %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript">
  flatpickr('#deadline', {
  enableTime : true,
  enableSeconds : true,
  dateFormat : "Y-m-d H:i:S",
  });
</script>
{% endblock js %}