{% extends 'app/cc-base-dashboard.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/question.css' %}">
{% endblock link %}
{% block content %}
<h2>{{ question.title }}</h2>
<div id="question">
  <section>
    <h3>Question</h3>
    <p>{{ question.description }}</p>
  </section>
  <section>
    <h3>Sample Input</h3>
    <p>
      {% if question.sample_input %}
      {{ question.sample_input|linebreaksbr }}
      {% else %}
      No input.
      {% endif %}
    </p>
  </section>
  <section>
    <h3>Sample Output</h3>
    <p>{{ question.sample_output|linebreaksbr }}</p>
  </section>
  {% if professor %}
  <h4>Marked for draft</h4>
  <p>{{ question.draft }}</p>
  {% endif %}
</div>
{# IDE goes here #}
{% if student %}
<div id="IDE">IDE goes here!</div>
{% endif %}
{% endblock content %}
{% block form %}
{% endblock form %}
{% block js %}
{{ block.super }}
{% endblock js %}
