{% extends 'app/cc-base-dashboard.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/question.css' %}">
{% endblock link %}
{% block content %}
<h2>{{ question.title }}</h2>
<div>
  <h3>Question</h3>
  <p>{{ question.description }}</p>
  <h3>Marks</h3>
  <p>{{ question.marks }}</p>
  <h3>Input Format</h3>
  <p>{{ question.sample_input|linebreaksbr }}</p>
  <h3>Output Format</h3>
  <p>{{ question.sample_output }}</p>
  {% if professor %}
  <h4>Marked for draft</h4>
  <p>{{ question.draft }}</p>
  {% endif %}
</div>
{# IDE goes here #}
{% if student %}
<div>IDE goes here!</div>
{% endif %}
{% endblock content %}
{% block form %}
{% endblock form %}
{% block js %}
{{ block.super }}
{% endblock js %}
