{% extends 'app/dashboard.html' %}
{% load static %}
{% block dashboard %}
	{% if classroom %}
		{% if professor %}
			<a class="btn waves-effect waves-light" href="{% url 'app:edit-classroom' pk %}">Edit Classroom</a>
		{% endif %}
		<p>Classroom: {{ classroom.title }}</p>
		<p>Professor: {{ classroom.professor.user.username }} </p>
		<p>Created on: {{ classroom.created_date }}</p>
		<p>Join Code: {{ classroom.join_code }}</p>
		{% if students %}
			<p>Students:</p>
			<ol>
				{% for student in students %}
					<li>{{ student.user.username }}</li>
				{% endfor %}
			</ol>
		{% endif %}
		{% if professor %}
			<a class="btn waves-effect waves-light" href="{% url 'app:create-assignment' pk %}">Create Assignment</a>
		{% endif %}
		{% if assignments %}
			<p>Assignments:</p>
			<ol>
				{% for assignment in assignments %}
					<li><a href="{% url 'app:view-assignment' pk assignment.id %}">{{ assignment.title }} - Language : {{ assignment.language }}</a></li>
				{% endfor %}
			</ol>
		{% endif %}
	{% endif %}
{% endblock dashboard %}