{% extends 'app/dashboard.html' %}
{% load static %}
{% block dashboard %}
	{% if professor %}
	<div class="container center-align">
<!-- 		<p>{{ request.user.username }} is a professor.</p> -->
	</div>
	<div class="container center">
		<h3>Start Collaborating</h3>
		<div class="card darken-1 z-depth-5 center">
			<div class="card-content white-text">
				<a class="btn waves-effect waves-light" href="{% url 'app:create-classroom' %}">Create a Classroom</a>
				<a class="btn waves-effect waves-light" href="{% url 'app:create-assignment' %}">Create an Assignment</a>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock dashboard %}