{% extends 'app/cc-index.html' %}
{% load static %}
{% block content %}
	{% block messages %}
		{{ block.super }}
	{% endblock messages %}
	<div id="layout">
		<div id="form">
			<form action="{% url 'app:login' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Email or User Name">
				<input type="password" name="password" placeholder="Password">
				<a href="forgotpassword.html">Forgot Password?</a>
				<input id="formlgnbtn" type="submit" value="Login">
				<div>
					<p>Not on CodeClassromm</p>
					<button><a href="{% url 'app:signup' %}">Signup</a></button>
				</div>
			</form>
		</div>
		<div id="intro">
			<h1>A great place for all your projects and assignments!</h1>
			<p>A platform for the management of Programming assignments and projects in Universities/Schools.</p>
		</div>
	</div>
{% endblock content %}
{% block js %}
	<script type="text/javascript" src="{% static 'app/login.js' %}"></script>
{% endblock js %}