{% extends 'app/base.html' %}
{% load static %}
{% block content %}
	{% block messages %}
		{{ block.super }}
	{% endblock messages %}
	<div class="container">
		<div class="card darken-1 z-depth-5 center">
			<img src="{% static 'app/images/login.png'%}">
			<div class="card-content white-text">
				<form action="{% url 'app:login' %}" method="POST">
					{% csrf_token %}
					<label for="username" class="">Username:</label> <input type="text" name="username" autofocus="" required="" id="username">
					<label for="password">Password:</label> <input type="password" name="password" required="" id="password">
					<button class="btn waves-effect waves-light" type="submit" type="submit" name="submit" value="Login">Login
					<i class="material-icons right">send</i>
					</button>
					<input type="hidden" name="next" value="{{ next }}">
				</form>
			</div>
		</div><br>
	</div>
	<div class="container center">
		<h5>Not on CodeClassroom yet !</h5>
		<a class="btn waves-effect waves-light" href="{% url 'app:signup' %}">Sign-up</a>
	</div>
{% endblock content %}
{% block js %}
	<script type="text/javascript" src="{% static 'app/login.js' %}"></script>
{% endblock js %}