{% extends 'app/base.html' %}
{% load static %}
{% block content %}
	{% block messages %}
		{{ block.super }}
	{% endblock messages %}
	<form action="{% url 'app:signup' %}" method="POST">
		{% csrf_token %}
		
		{% for field in form.visible_fields %}
			<div class="form-group">
				{{ field.label_tag }}
				{{ field }}
				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
				{% if field.user_type %}
					<p>heeelooo</p>
				{% endif %}
			</div>
		{% endfor %}
		<button class="btn waves-effect waves-light" type="submit" type="submit" name="submit" value="Create Account">Create Account
		<i class="material-icons right">send</i>
		</button>
	</form>
{% endblock content %}
{% block js %}
	<script type="text/javascript" src="{% static 'app/signup.js' %}"></script>
{% endblock js %}