{% extends 'app/base.html' %}
{% load static %}
{% block content %}
	{% block messages %}
		{{ block.super }}
	{% endblock messages %}
	<div class="container">
		<div class="card darken-1 z-depth-5">
			<div class="card-content">
				<form action="{% url 'app:signup' %}" method="POST">
					{% csrf_token %}
					{{ form.as_p }}

<!-- 					<label for="username" class="">Username:</label>
					<input type="text" name="username" maxlength="150" autofocus="" required="" id="username">
					<small class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>


					<label for="email">Email address:</label>
					<input type="email" name="email" maxlength="254" id="email">

					<p>
				      <label>
				        <input type="radio" name="user_type" value="professor" required="" id="user_type_0">
				        <span>Professor</span>
				      </label>
				    </p>
				    <p>
				      <label>
				        <input type="radio" name="user_type" value="student" required="" id="user_type_1">
				        <span>Student</span>
				      </label>
				    </p>

			
					<label for="password1">Password:</label>
					<input type="password" name="password1" required="" id="password1">
					<small class="form-text text-muted"><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul></small>

				
					<label for="password2">Password confirmation:</label>
					<input type="password" name="password2" required="" id="password2">
					<small class="form-text text-muted">Enter the same password as before, for verification.</small>
					<br> -->

					<button class="btn waves-effect waves-light" type="submit" type="submit" name="submit" value="Create Account">Signup
					<i class="material-icons right">send</i>
					</button>
				</form>
			</div>
		</div><br>
	</div>
	<div class="container center">
		<h4>Already have an account ?</h4>
		<a class="btn waves-effect waves-light" href="{% url 'app:login' %}">Login</a>
	</div>
{% endblock content %}
{% block js %}
	<script type="text/javascript" src="{% static 'app/signup.js' %}"></script>
{% endblock js %}