@charset 'UTF-8';

/* copy-pasted styles from assignments.css */

#questions {
  margin: 1rem;
  --columns: repeat(4, 1fr);
}

#header {
  display: grid;
  grid-template-columns: var(--columns);
}

#header > strong {
  text-align: center;
}

#body {
  display: grid;
  grid-template-columns: var(--columns);
}

#body > a {
  grid-column: span 4;
  text-align: center;
  margin: 1rem;
}

#body > strong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.question {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 5px;
}
