@charset 'UTF-8';

#classroom {
  margin: 1rem 0;
}

#classroom > div:first-child {
  display: flex;
  justify-content: space-between;
}

#actions > a {
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
}

#assignments {
  margin: 1rem;
}

#assignments ul {
  list-style-type: none;
}

.assignment {
  border-radius: 5px;
  border: 1px solid #000;
  margin: 1rem;
  padding: 1rem;
}

#students {
  margin: 1rem;
}

#students > ol {
  margin: 1rem;
}

#students > ol > li::marker {
  margin-right: 0.5rem;
}

#students > ol > li {
  padding: 0.6rem;
  border: 1px solid #000;
  border-radius: 5px;
}
