@charset 'UTF-8';

main > ul {
  list-style-type: none;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 850px;
}

/* classroom card */
.classroom {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2rem;
}

.classroom > h3 {
  padding-bottom: 1rem;
}
