@charset 'UTF-8';

/* laying out edit/delete buttons */
main > div:first-child {
  display: flex;
  justify-content: space-between;
}

form {
  display: block;
}

/* copied from classroom.css */
#actions > a {
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
}

#question {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

#question > section {
  margin: 1rem;
}

#question > section > h3 {
  margin-bottom: 0.5rem;
}

#question > section > p {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

#IDE {
  margin: 1rem;
  background-color: #cecece;
  border-radius: 5px;
  padding: 1rem;
  min-height: 30vh;
}

#run, #submit {
    margin: 0.7rem;
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 10px;
}

#execution {
    margin: 1rem;
    background-color: #cecece;
    border-radius: 5px;
    padding: 1rem;
    min-height: 30vh;
    display: none;
    font-size: 1.5rem;
}

#message {
    font-size: 1.5rem;
}
