<!DOCTYPE html>
<html>
<head>
	<title>CodeClassroom API Docs</title>
</head>
<body>
<p><h2>CodeClassroom API v1 Documentation</h2></p>
<p><h3>Contact: <a href="mailto:varshneybhupesh@gmail.com">varshneybhupesh@gmail.com</a></h3></p>
<details><summary>Why ?</summary>
  <blockquote>For generating nice badges for my repositories</blockquote>
</details>
<p>All endpoints inherit from the root url <b><code>/api</code><b></p>
<h3>EndPoints</h3>
<ol>
	<li>signup/professor</li>
	<details><summary>Methods: POST</summary>
	  Body
	  <code>
	  	{
	  		"username":
	  	}
	  </code>
	</details>
</ol>
</body>
</html>