<!DOCTYPE html>
<html>
<head>
	<title>CodeClassroom API Docs</title>
</head>
<body>
<p><h2>CodeClassroom API v1.0.0 Documentation</h2></p>
<p><h3>Contact: <a href="mailto:varshneybhupesh@gmail.com">varshneybhupesh@gmail.com</a></h3></p>

<p>All endpoints inherit from the root url <b><pre>/api</pre><b></p>
<h3>EndPoints</h3>
<ol>
	<li><pre>/signup/professor</pre></li>
	<details><summary>Signs up professor</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"username"
	"email"
	"password"
	"institution"
	"profile_pic"
	  			</pre>
			</td>
			<td><pre>
{
    "id": 1,
    "user": {
        "username": "",
        "email": ""
    },
    "profile_pic": null,
    "institution": null
}
			</pre></td>
		</tr>
	</table>
	</details>


	<li><pre>/signup/student</pre></li>
	<details><summary>Signs up student</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"username"
	"email"
	"password"
	"institution"
	"course"
	"roll_no"
	"profile_pic"
	  			</pre>
			</td>
			<td><pre>
				
{
    "id": 1,
    "user": {
        "username": "student",
        "email": "var@xyz.com"
    },
    "profile_pic": null,
    "course": "BCA",
    "roll_no": 44566,
    "institution": null
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/login</pre></li>
	<details><summary>login users</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"username"
	"password"
	  			</pre>
			</td>
			<td><pre>
{
    "detail": "User logged in.",
    "authenticated": true
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/logout</pre></li>
	<details><summary>logout users</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
{
    "logout": true
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/students</pre></li>
	<details><summary>View all students</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
[
    {
        "id": 1,
        "user": {
            "id": 2,
            "username": "student",
            "email": "var@xyz.com",
            "first_name": "",
            "last_name": ""
        },
        "institution": null,
        "profile_pic": null,
        "course": "BCA",
        "roll_no": 44566
    }
    ...
]
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/students/{student_id}/</pre></li>
	<details><summary>view student by id</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
				
{
    "id": 1,
    "user": {
        "id": 2,
        "username": "student",
        "email": "var@xyz.com",
        "first_name": "",
        "last_name": ""
    },
    "institution": null,
    "profile_pic": null,
    "course": "BCA",
    "roll_no": 44566
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/professors</pre></li>
	<details><summary>View all professors</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
[
    {
        "id": 1,
        "user": {
            "id": 1,
            "username": "professor",
            "email": "",
            "first_name": "",
            "last_name": ""
        },
        "institution": null,
        "profile_pic": null
    }
    ....
]
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/professors/{professor_id}/</pre></li>
	<details><summary>view professor by professor_id</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
{
    "id": 1,
    "user": {
        "id": 1,
        "username": "professor",
        "email": "",
        "first_name": "",
        "last_name": ""
    },
    "institution": null,
    "profile_pic": null
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/classroom/create</pre></li>
	<details><summary>Create Classroom</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
		"professor"
		"title"
	  			</pre>
			</td>
			<td><pre>
{
    "professor": 1,
    "title": "BCA-V-Sem-A",
    "join_code": "B1RP3"
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/classroom/join</pre></li>
	<details><summary>Join a classroom</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
		"join_code"
	  			</pre>
			</td>
			<td><pre>
{
    "status": "Student joined classroom."
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/classrooms</pre></li>
	<details><summary>View all classrooms</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
				
[
    {
        "id": 1,
        "title": "BCA-V-Sem-A",
        "join_code": "B1RP3",
        "professor": 1,
        "students": []
    }
    ...
]
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/classroom/{classroom_id}</pre></li>
	<details><summary>view classroom by id</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
{
    "id": 1,
    "title": "BCA-V-Sem-A",
    "join_code": "B1RP3",
    "professor": 1,
    "students": []
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/assignment/create</pre></li>
	<details><summary>create assignment</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"title"
	"deadline"
	"language" - Python, Java, C or C++
	"classroom"

	  			</pre>
			</td>
			<td><pre>
{
    "id": 1,
    "title": "Assigmet-1",
    "deadline": "2019-11-27T11:12:55.644015+05:30",
    "language": "Python",
    "classroom": 1
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/classroom/{class_id}/assignments</pre></li>
	<details><summary>View assignments in a classroom</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
[
    {
        "id": 1,
        "title": "Assigmet-1",
        "deadline": "2019-11-27T11:12:55.644015+05:30",
        "language": "Python",
        "classroom": 1
    }
    ...
]
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/question/create</pre></li>
	<details><summary>create question</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"title"
	"description"
	"sample_input"
	"sample_output"
	"marks"
	"draft"- Boolean(True/False)
	  			</pre>
			</td>
			<td><pre>
{
    "id": 1,
    "title": "do thus",
    "description": "fbgnhjkyhngfnh",
    "sample_input": "nhnhmjhmj",
    "sample_output": "mjmjmjjmm",
    "marks": 3,
    "draft": false,
    "assignment": 1
}
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/assignments/{assignment_id}/questions/</pre></li>
	<details><summary>view questions in an assignment</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
				
[
    {
        "id": 1,
        "title": "do thus",
        "description": "fbgnhjkyhngfnh",
        "sample_input": "nhnhmjhmj",
        "sample_output": "mjmjmjjmm",
        "marks": 3,
        "draft": false,
        "assignment": 1
    }
    ...
]
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/submission/create</pre></li>
	<details><summary>Submit solutions</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"question"
	"assignment"
	"student"
	"sub_date" - Submission Date
	"submission" - As a FILE

	  			</pre>
			</td>
			<td><pre>
				
{
    "status": "Accepted"
}
			</pre></td>
		</tr>
	</table>
	</details>


	<li><pre>/submissions/{question_id}/{student_id}/</pre></li>
	<details><summary>View submissions of a question</summary>
	<table>
		<th>Method</th>
		<th>Response</th>
		<tr>
			<td>GET</td>
			<td><pre>
[
    {
        "question": 1,
        "assignment": 1,
        "student": 1,
        "sub_date": "2019-11-27T11:46:59.587577+05:30",
        "submission": "/media/assignments/1/questions/1/submissions/1",
        "remark": ""
    },
...
]
			</pre></td>
		</tr>
	</table>
	</details>

	<li><pre>/coderunner<pre></li>
	<details><summary>Run Code</summary>
	<table>
		<th>Method</th>
		<th>Data</th>
		<th>Response</th>
		<tr>
			<td>POST</td>
			<td>
				<pre>
	"code"
	"language"
	"question_id"

	  			</pre>
			</td>
			<td><pre>
	{
		"status":Accepted, Wrong Answer or Error Occured
	}
			</pre></td>
		</tr>
	</table>
	</details>

</ol>
</body>
</html>